<section class="foods" >

<div class="jumbotron bg-dark text-white" style="width:90%; margin:10px auto; padding:10px 10px">
  <div class="container">
    <h1 class="display-4">Inventory list</h1>
    <p class="lead">You can display a list of food as in the wireframe.
   You can lead to the form that allows users to add new food..</p>
   <%= button_to 'Add inventory', '/inventories/new', method: :get , class:"btn btn-primary"%>

  </div>
</div>

<% @inventories.each do |inventory| %>
<div class="card text-center bg-dark text-white" style="width:90%; margin:10px auto">
  <div class="card-header"> Inventory
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="<%= '/inventories/' + inventory.id.to_s %>" >
              <%= inventory.name %>
            </a></h5>
    <%= button_to 'Remove', '/inventories/' + inventory.id.to_s, method: :delete, class:"btn btn-primary" %>
  </div>

</div>
 <% end %>