<div>
  <div>
   <h1>Add new inventory</h1>
    <%= form_with model: @new_inventory, url: '/inventories' do |form| %>
      <br>
      <%= form.label :name %><br />
      <%= form.text_field :name, placeholder: 'Name of the inventory' %>
      <br>
      <%= form.submit %>
    <% end %>
   </div>
</div>