<h1>New inventory</h1>

<%= form_with model:@inventory, url:'/inventories' do |form|%>
  <%= form.text_field :name, placeholder:'Name of the inventory' %>
  <%= form.submit %>
<% end %>
<br>

<div>
  <%= link_to "Back to inventories", inventories_path %>
</div>
